<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="LotroMusicManager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="LOTROMusicManager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="LotroMusicManager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="LOTROMusicManager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <LotroMusicManager.Properties.Settings>
            <setting name="ClientAppID" serializeAs="String">
                <value>lotroclient</value>
            </setting>
            <setting name="MillisWaitOnCommand" serializeAs="String">
                <value>250</value>
            </setting>
            <setting name="FocusTimeout" serializeAs="String">
                <value>400</value>
            </setting>
        </LotroMusicManager.Properties.Settings>
        <LOTROMusicManager.Properties.Settings>
            <setting name="ClientAppID" serializeAs="String">
                <value>lotroclient</value>
            </setting>
            <setting name="Dances" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>(basic dances)</string>
                        <string>  /dance</string>
                        <string>  /dance1</string>
                        <string>  /dance2</string>
                        <string>  /dance3</string>
                        <string>(learned dances)</string>
                        <string>  /dance_hobbit </string>
                        <string>  /dance_elf</string>
                        <string>  /dance_man</string>
                        <string>  /dance_dwarf</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="Emotes" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>(meet and greet)</string>
                        <string>  /wave</string>
                        <string>  /salute</string>
                        <string>  /bow</string>
                        <string>  /curtsey</string>
                        <string>  /hug</string>
                        <string>  /kiss</string>
                        <string>  /bye</string>
                        <string>(converse)</string>
                        <string>  /yes</string>
                        <string>  /no</string>
                        <string>  /shrug</string>
                        <string>  /sorry</string>
                        <string>  /thank</string>
                        <string>(settle in)</string>
                        <string>  /sit</string>
                        <string>  /kneel</string>
                        <string>  /liedown</string>
                        <string>  /stretch</string>
                        <string>  /smoke</string>
                        <string>  /smoke1</string>
                        <string>  /story</string>
                        <string>  /talk</string>
                        <string> /dustoff</string>
                        <string>(respond)</string>
                        <string>  /cheer</string>
                        <string>  /clap</string>
                        <string>  /laugh</string>
                        <string>  /bored</string>
                        <string>  /fidget</string>
                        <string>  /impatient</string>
                        <string>  /cry</string>
                        <string>  /whistle</string>
                        <string>  /yawn</string>
                        <string>(hobbits)</string>
                        <string>  /eat</string>
                        <string>  /drink</string>
                        <string>  /burp</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="Moods" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>(moods)</string>
                        <string>  /mood_angry</string>
                        <string>  /mood_apprehensive</string>
                        <string>  /mood_calm</string>
                        <string>  /mood_confused</string>
                        <string>  /mood_fearful</string>
                        <string>  /mood_happy</string>
                        <string>  /mood_mischievous</string>
                        <string>  /mood_sad</string>
                        <string>  /mood_sleepy</string>
                        <string>  /mood_solemn</string>
                        <string>  /mood_surprised</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="Bestowals" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>Bestows an Emote</string>
                        <string> /cheer (grants /firebreath - receive 100 - max 5/day)</string>
                        <string> /bow  (grants /heropose - receive 100 - max 5/day)</string>
                        <string> /laugh (grants /juggle - receive 200 - max 6/day)</string>
                        <string> /salute (grants /swordsalute - receive 100 - max 5/day)</string>
                        <string>Bestowes a Title</string>
                        <string> /hug (grants The Adorable: 100 times - max 5/day)</string>
                        <string> /flirt (grants The Alluring: 100 times  - max 5/day)</string>
                        <string> /confused (grants The Befuddling: 100 times - max 5/day)</string>
                        <string> /kiss (grants The Beloved: 100 times - max 5/day) </string>
                        <string> /bored (grants The Dull: 100 times - max 5/day)</string>
                        <string> /beg (grants The Harrassed: 100 times - max 5/day)</string>
                        <string> /thank (grants The Helpful: 100 times - max 5/day)</string>
                        <string> /angry (grants The Infuriating: 100 times - max 5/day)</string>
                        <string> /rude (grants The Insulted: 200 times - max 5?/day)</string>
                        <string> /cower (grants The Intimidating: 40 times - max 2/day)</string>
                        <string> /scold (grants The Naughty:  100 times - max 5/day)</string>
                        <string> /mock (grants The Ridiculed: 100 times - max 5/day)</string>
                        <string> /surrender (grants The Victorious: 40 times - max 2/day)</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="MillisWaitOnCommand" serializeAs="String">
                <value>250</value>
            </setting>
            <setting name="LOTROMusicManager_MyLotroBand_MyLotroBand" serializeAs="String">
                <value>http://mylotroband.joshkraker.com/lommservice/alpha/mylotroband.asmx</value>
            </setting>
            <setting name="FocusTimeout" serializeAs="String">
                <value>400</value>
            </setting>
        </LOTROMusicManager.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <LotroMusicManager.Properties.Settings>
            <setting name="PlaySync" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AOT" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WindowLocation" serializeAs="String">
                <value>100, 100</value>
            </setting>
            <setting name="WindowSize" serializeAs="String">
                <value>746, 618</value>
            </setting>
            <setting name="EditorFontSize" serializeAs="String">
                <value>12</value>
            </setting>
            <setting name="Opacity" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="KeepLOTROFocused" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="HighlightABC" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ToolbarOpacity" serializeAs="String">
                <value>100</value>
            </setting>
        </LotroMusicManager.Properties.Settings>
        <LOTROMusicManager.Properties.Settings>
            <setting name="PlaySync" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AOT" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WindowLocation" serializeAs="String">
                <value>100, 100</value>
            </setting>
            <setting name="WindowSize" serializeAs="String">
                <value>746, 618</value>
            </setting>
            <setting name="EditorFontSize" serializeAs="String">
                <value>12</value>
            </setting>
            <setting name="Opacity" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="MyLotroBandLoginEmail" serializeAs="String">
                <value />
            </setting>
            <setting name="MyLotroBandLoginPW" serializeAs="String">
                <value />
            </setting>
            <setting name="MyLotroBandRememberLoginInformation" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="KeepLOTROFocused" serializeAs="String">
                <value>True</value>
            </setting>
        </LOTROMusicManager.Properties.Settings>
    </userSettings>
</configuration>